@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

main#board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

#title{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    width: 100%;
}

#title h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 44px;
    color: #00ff2a;
        text-shadow:
        2px 2px 0 #d9ff00,
       -2px 2px 0 #d9ff00,
        2px -2px 0 #d9ff00,
       -2px -2px 0 #d9ff00;
}

#game{
    animation: shadowPulse 4s infinite;
}

/* animation text */

.fade-in-out {
    animation: fade 1.8s infinite;
}

@keyframes fade {
    0%   { opacity: 1; }   /* totalmente visível */
    50%  { opacity: 0; }   /* invisível */
    100% { opacity: 1; }   /* volta a aparecer */
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    }
    50% {
        box-shadow: 0px 0px 75px rgba(0,0,0,0.9); /* 3x maior */
    }
    100% {
        box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    }
}